{{ define "main" }}
      <div id="pagination"></div>
      
<div class="singleHead">
  <div class="singleHeadContainer">
    <div class="singleHeadText">
      <h1 class="singleTitle">React 19 is Coming!</h1>
      <p class="singleDescription">React 19 is on its way. After a long wait, the new version of React is finally arriving. Let&#39;s explore the new features and discuss the deprecated methods.</p>
      <div class="details">
        
        <img class="avatar" src="/images/safak.png" alt="" loading="lazy" />
        <div class="detailText">
          <a class="author" href="https://blog.lama.dev/authors/safak-kocaoglu/"> Safak Kocaoglu </a>
          
          <time class="singleDate">
            Feb 25, 2024
          </time>
        </div>
        <div class="tags">
          
          <div class="tag react">
            <a href="https://blog.lama.dev/tags/react/">react</a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="singleImageContainer">
      <img
        loading="lazy"
        class="singleImage"
        
        src="/images/REACT19BIG.png"
        
        alt="React 19 is Coming!"
      />
    </div>
  </div>
</div
{{ end }}
