{{ define "main" }}
<div class="single">
    <div class="singleHead">
        <div class="singleHeadTexts">
            <h1 class="singleHeadTitle">{{.Title}}</h1>
            <p class="singleHeadDesc">{{.Params.description}}</p>
            <div class="singleHeadDetail">
                <img src="{{.Params.avatar}}" loading="lazy" alt="" class="singleAvatar" />
                <span>
                    {{ range (.GetTerms "authors")}}
                        <a href="{{.Permalink}}">{{ .Name }}</a>
                    {{end}}
                </span>
                {{ range (.GetTerms "categories")}}
                    <a href="{{.Permalink}}" class="singleCategory">{{ .Name }}</a>
                {{end}}
            </div>
            <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
        </div>
        <img src="{{.Params.imageBig}}" alt="{{.Title}}" class="singleHeadImg" />
    </div>
 <div class="content">
        {{ .Content }}
    </div>

    <div class="right">
        <div class="contentRightBar">
            <a href="http://hostinger.com/lamadev" target="_blank">
                <img class="contentRightBarImageSquare" src="/images/hs.png" alt="" loading="lazy" />
                <img class="contentRightBarImageHorizontal" src="/images/hh.png" alt="" loading="lazy" />
            </a>
        </div>

        <div class="contentSideRight">
            <div class="share">
                <span class="shareTitle">Share this article</span>
                <div class="shareIcons">
                    <a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank">
                        <!-- Facebook SVG code here -->
                    </a>
                    <a href="https://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}" target="_blank">
                        <!-- Twitter SVG code here -->
                    </a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&summary={{ .Description }}" target="_blank">
                        <!-- LinkedIn SVG code here -->
                    </a>
                    <a href="whatsapp://send?text={{ .Title }} {{ .Permalink }}" target="_blank">
                        <!-- WhatsApp SVG code here -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
