:root {
  --font-family: 'Roboto', sans-serif;
  --font-size-base: 16px;
  --bg: #0b1529;
  --bgSoft: #1f3050;
  --text: #dee4eb;
  --textSoft: #cbd2d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  font-size: var(--font-size-base);
  background-color: var(--bg);
  color: var(--text);
}

body.light {
  --bg: #dee4eb;
  --text: #0b1529;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1366px;
  padding: 0 50px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: sticky;
  top: 0;
  background-color: var(--bg);
  z-index: 1100;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.25rem;
}

.searchButton {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bgSoft);
  color: var(--textSoft);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.toggle {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  background-color: var(--bgSoft);
  border: 1px solid var(--textSoft);
  padding: 3px;
  position: relative;
  cursor: pointer;
}

.ball {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--textSoft);
  transition: all 0.3s ease;
  position: absolute;
  left: 3px;
}

.light .ball {
  transform: translateX(20px);
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  font-size: 0.875rem;
}

.social {
  display: flex;
  gap: 10px;
}

/* LIST */
.listItem {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.listItemImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.listItemTexts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItemDetail {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.875rem;
}

.listItemAvatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.listItemCategories {
  display: flex;
  gap: 10px;
}

.listItemCategory {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: var(--bgSoft);
  color: var(--textSoft);
  font-size: 0.875rem;
}

.pagination {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 80px 0 30px;
}

.page-item {
  border: 1px solid gray;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.page-item.active {
  background-color: var(--text);
  color: var(--bg);
}

.page-item.disabled {
  background-color: #313845;
  cursor: not-allowed;
}

/* SINGLE */
.singleHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.singleHeadTitle {
  font-size: 2.5rem;
  font-weight: bold;
}

.singleContent {
  font-size: 1rem;
  line-height: 1.75;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
  .singleHeadImg {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .links {
    font-size: 1rem;
  }
}
