:root {
  --bg: #0b1529;
  --bgSoft: #1f3050;
  --text: #dee4eb;
  --textSoft: #cbd2d9;
  --primary: #00d1b2; /* Bulma's primary color */
  --link: #3273dc; /* Bulma's link color */
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

body.light {
  --bg: #dee4eb;
  --text: #0b1529;
}

a {
  color: var(--link);
  text-decoration: none;
}

.container {
  max-width: 1366px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  position: sticky;
  top: 0;
  background-color: var(--bg);
  padding: 0 1rem;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--bgSoft);
  color: var(--textSoft);
  padding: 0.5rem;
  border-radius: 1rem;
}

.toggle {
  width: 2.5rem;
  height: 1.25rem;
  border-radius: 50rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--bgSoft);
  padding: 0.5rem;
  position: relative;
}

.ball {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: var(--textSoft);
}

.light .ball {
  left: unset;
  right: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  font-size: 0.875rem;
  padding: 0 1rem;
}

.social {
  display: flex;
  gap: 0.5rem;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.listItemImage {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.listItemTexts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listItemCategories {
  display: flex;
  gap: 0.5rem;
}

.listItemCategory {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--bgSoft);
  color: var(--textSoft);
  font-size: 0.875rem;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.page-item {
  border: 1px solid gray;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.page-item.active {
  background-color: var(--primary);
  color: white;
}

.page-item.disabled {
  background-color: #313845;
  cursor: not-allowed;
}

.singleHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.singleHeadTexts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.singleHeadTitle {
  font-size: 3rem;
}

.singleHeadDesc {
  font-size: 1.25rem;
  font-weight: 300;
}

.singleCategory {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--bgSoft);
  color: var(--textSoft);
  font-size: 0.875rem;
}

.singleHeadImg {
  flex: 1;
  max-height: 20rem;
  object-fit: cover;
}

.singleBottom {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

.singleContent {
  flex: 3;
  font-size: 1.25rem;
  line-height: 1.8;
}

.singleContent p,
.singleContent h1,
.singleContent h2,
.singleContent h3 {
  margin: 1rem 0;
}

.singleContent img {
  width: 100%;
  object-fit: cover;
}

.singleContent pre {
  width: 100%;
  overflow-x: auto;
  padding: 1rem;
}

.singleRightBar {
  flex: 1;
}

.rightBar {
  position: sticky;
  top: 4rem;
}

.rightBarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .singleHeadImg {
    display: none;
  }

  .singleBottom {
    flex-direction: column-reverse;
  }

  .rightBarImg {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .listItemImage {
    display: none;
  }

  .searchButton span {
    display: none;
  }

  .links {
    font-size: 0.875rem;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
